<%- include('../partials/header') %>

<form action="/skills" method="POST">
  <input type="text" name="skill">
  <button type="button submit" class="btn btn-dark ">Save Skill</button>
</form>

<%- include('../partials/footer') %>
