* {
  /* border: 1px solid red; */
}

body {
  padding: 5vmin;
  font: 5vmin "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  padding: 2vh 0;
}


footer {
  padding: 2vh 0;
}


.delete-form {
  display: inline-block;
  margin-right: 1.5vmin;
}
	
